.header-picture {
  max-width: 40px;
  max-height: 40px;
  width: 100%;
  height: 100%;
  border-radius: 40%;
}

.chat {
  //background-image: url();
  background-color: rgba(255, 249, 252, 0.47) ;   //#E0DAD6
  background-repeat: no-repeat;
  background-size: 100%;
}

.message-list {
  margin-top: 12px;
  padding: 0 5%;
}

.message-wrapper {
  margin-bottom: 9px;

  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

.message {
  display: inline-block;
  position: relative;
  max-width: 236px;
  border-radius: 20px;
  box-shadow: 7px 7px 10px rgba(0, 0, 0, .35);

  &.message-mine {
    float: right;
    background-color: floralwhite;
  }

  &.message-other {
    float: left;
    background-color: #f8f8f8;

  }

   &.message-other::before, &.message-mine::before {
    content: "";
    position: absolute;
    bottom: 3px;
    width: 12px;
    height: 19px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;
  }

  &.message-other::before {
    left: -11px;
    background-image: url(/message-other.png)
  }

  &.message-mine::before {
    right: -11px;
    background-image: url(/message-mine.png)
  }

  .text {
    padding: 5px 7px;
    word-wrap: break-word;

    &::after {
      content: " \00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0";
      display: inline;
    }
  }

  .picture {
    padding: 4px 4px 0;

    img {
      width: 220px;
      height: 130px;
      border-radius: 6px;
    }
  }

  .message-timestamp {
    position: absolute;
    bottom: 2px;
    right: 7px;
    color: gray;
    font-size: 12px;
  }
  .message-status {
    position: absolute;
    bottom: 2px;
    right: 7px;
    color: gray;
    font-size: 12px;
  }

}


.footer-chat {
  .item-input-wrapper {
    background-color: #FFF;
  }

  .button.button-icon {
    margin: 0 10px;
  }

  .buttons-seperator {
    color: gray;
    font-size: 18px;
    line-height: 32px;
  }
}