<ion-view view-title="Settings">
    <ion-content>
        <div class="padding text-center">
            <button ng-click="settings.logout()" class="button button-clear button-assertive">Logout</button>
        </div>
        <ion-list>
            <ion-item href="#/profile1" class="item-icon-right">
                Profile
                <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>
        </ion-list>

    </ion-content>
</ion-view>